{# admin.twig #}
{% extends "admin/layout_base.twig" %}

{% block title %}
	ログイン
{% endblock %}

{% block body %}
	<h1>ログイン</h1>
	{% if authentication_error == true %}
		<div>ログインできませんでした。</div>
	{% endif %}
	<form action="./admin_login.php" method="post">
		id:<input type="text" name="id" value="{{ id }}"><br>
		password:<input type="password" name="pw"><br>
		<button type="submit">ログイン</button>
	</form>
{% endblock %}
