{# inquiry_config.twig #}
<!DOCTYPE html>
<html lang="ja">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>問い合わせ</title>
	</head>

	<body>
		<h1>お問い合わせ：確認画面</h1>

		お名前：{{ data.name }}<br>
		emailアドレス：{{ data.email }}<br>
		問い合わせ内容：<br>
		<pre>{{ data.body }}</pre>
		<form action="inquiry_fin.php">
			<button type="submit">問い合わせる</button>
		</form>
	</body>

</html>
